ul {
    display: flex;
    justify-content:space-around;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: darkblue;
}

h1 {
    color: green;
    text-align: center;
    font-size: 3rem;
}

h2 {
    color: grey;
    text-align: center;
    font-size: 2rem;
}

p {
    margin: 2rem;
}

.footerDiv {
    background-color: darkblue;
    padding: 1rem;
}

.footerDiv p {
    color: white;
    font-size: 2rem;
    text-align: center;
}